.grid-container {
    display: grid;
    grid-template-columns: 30% auto;
    grid-gap: 10px;
    background-color: #ccffcc;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
  